<html>
    <head></head>
    <body>
        <h1>{{error}}</h1>
        <a href="/adminViews/successAdmin">GO BACK</a>
    </body>
    <!-- <br>
    <br> -->
    <!-- <h1>Table Name</h1>
    <table>
        <th></th>
        <th></th>
        <th></th>

    {% for line in data%}
		<tr>
			<td>{{line['key']}}</td>
			<td>{{line['ex)']}}</td>
			<td>{{line['airline_name']}}</td>
		</tr>
	{% endfor %}
    </table>

    <br>
    <br>
    <br>
        <a href="">GO BACK</a>
    </body>

    <style type="text/css">
		table, th, td{
			border: 1px solid black;
		}
	</style> -->
</html>