<html>

<head>
    <!-- MetaData -->
</head>

<body>
    <!-- <form action="/post" method="POST"> -->
    <h1>Welcome admin {{username}} (Admin Page)</h1>
    
    <form action= "/logout">
        <button>Logout</button>
    </form>

    <form action="/adminViews/adminViewFlight" method="POST" >
        <h2>View All Flights:</h2>
        <button>VIEW</button>
    </form>

    <form action="/adminViews/createAirplane" method="POST" >
        <h2>Create Airplane:</h2>
        <label for="ID">ID</label>
        <input type = "number" name="ID" required />
        <label for="Airline_name">Airline Name</label>
        <input type="text" name="Airline_name" required/>
        <label for="Manufacturer">Manufacturer</label>
        <input type="text" name="Manufacturer"/>
        <label for="Seats">Seats</label>
        <input type="number" name="Seats"/>
        <label for="Age">Age</label>
        <input type="number" name="Age"/>
        <br />
        <br />
        <button>CREATE</button>
    </form>

    <form action="/adminViews/addAirport" method="POST">
        <h2>Add New Airport</h2>
        <label for="name" required>Name</label>
        <input type= "text" name="name"/>
        <label for="city" >City</label>
        <input type= "text" name="city"/>
        <label for="country" >Country</label>
        <input type= "text" name="country"/>
        <label name="type">Type</label>
        <select name="type">
            <option value="">--</option>
            <option value="domestic">domestic</option>
            <option value="international">international</option>
            <option value="both">both</option>
        </select>
        <br />
        <br />
        <button>Add Airport</button>
    </form>

    <form action= "/adminViews/viewCustomers">
        <h2>View Customers</h2>
        <button>View</button>
    </form>

    <form action = "/adminViews/viewReport" method="POST" >
        <h2>View Report</h2>
        <label for="year">Year</label>
        <input name = "year" type = number value = 2022/>
        <button>View</button>
    </form>

    <form action="/adminViews/viewRevenue" method="POST">
        <h2>View Revenue</h2>
        <button>View</button>
    </form>

</body>

</html>
