<html>
<head>
</head>
<body>

    <!-- <form action="/post" method="POST"> -->
    <h1>Welcome admin {{username}} (Admin Page)</h1>
    <h5>Log Out</h5>
    <!-- </form> -->

    <a href="./purchaseScreen">View flights</a><br>
    <a href="./cancelTripScreen">Create new flights</a><br>
    <a href="./rateCommentScreen">Change status of flights</a><br>
    <a href="./purchaseScreen">Add airplane in the system</a><br>
    <a href="./cancelTripScreen">Add new airport in the system</a><br>
    <a href="./rateCommentScreen">View flight ratings</a><br>
    <a href="./purchaseScreen">View frequent customers</a><br>
    <a href="./cancelTripScreen">View reports</a><br>
    <a href="./rateCommentScreen">View earned revenue</a><br>

</body>
</html>
