<html>
<head>
</head>
<body>

    <!-- <form action="/post" method="POST"> -->
    <h1>Welcome admin {{username}} (Admin Page)</h1>
    <h5>Log Out</h5>
    <!-- </form> -->

    <h2>Search for a flight: </h2>
    <h3>Starting: </h3>
    <label for="searchSourceCity">City</label>
    <input type="text" id="searchSourceCity">
    <label for="searchSourceAirport">Airport</label>
    <input type="text" id="searchSourceAirport">

    <h3>Ending: </h3>
    <label for="searchDestCity">City</label>
    <input type="text" id="searchDestCity">
    <label for="searchDestAirport">City</label>
    <input type="text" id="searchDestAirport">
    <br>
    <br>
    <button>Search</button>

    <h2>Check a flight status: </h2>
    <h3>Enter flight information</h3>
    <input placeholder="Airline, flight #, arrival/departure" size="25">
    <br>
    <br>
    <button>Search</button>

</body>


</html>
