<!DOCTYPE html>
<html>

<head>

</head>

<!-- <body>
Default code given by Ratan 	
{% if not message %}
	<a href="/login">Login</a>
	<a href="/register">Register</a>
	<p1>hello hello</p1>
{% endif %}

{% if message %}
	<a href="/logout">Logout</a>
	<a href="/remove_account">Remove Account</a>
	<p class="message">You are logged in {{message}}. You have {{num}} follower(s)</p> </br>
	<a href="/tweets">View your tweets</a> </br>
	<a href="/find_people">Find people to follow</a> </br>
	<a href="/unfollow">Unfollow someone</a> </br>
	<a href="/view_followed">View people you have followed</a> </br>
	</br>

        <h4>15 most recent tweets from you and your followers </h4> </br>

	{% for line in tweets%}
	        <p>{{line}}</p>
	        <hr>
	{% endfor %}
	{% endif %}
</body> -->

<body>
    <h1>
        Welcome to the homepage
    </h1>

    <!-- <h2>Log In</h2>
    <label for="username">Username</label>
    <input type="text" id="username"> 
    <label for="password">Password</label>
    <input type="password" id="password">
    <button>Log In</button> -->

	<form action="/loginAuth" method="POST">
		<h2>Log In</h2>
		<label for="username">Username</label>
		<input type="text" name = "username" placeholder="username" required/>
		<label for="password">Password</label>
		<input type="password" name = "password" placeholder="password" required/>
		<button>Log In</button>
		{% if error %}
			<p class="error"><strong>Error:</strong> {{error}}</p>
		{% endif %}
	</form>
	
    <h5>No account? Customer registration
        <a href="/customerViews/customerRegister">here</a>
		 Admin registration 
        <a href="/adminViews/adminRegister">here </a>
    </h5>

    <br>
    <br>

    <h2>Search for a flight: </h2>
    <h3>Starting: </h3>
    <label for="searchSourceCity">City</label>
    <input type="text" id="searchSourceCity">
    <label for="searchSourceAirport">Airport</label>
    <input type="text" id="searchSourceAirport">

    <h3>Ending: </h3>
    <label for="searchDestCity">City</label>
    <input type="text" id="searchDestCity">
    <label for="searchDestAirport">City</label>
    <input type="text" id="searchDestAirport">
    <br>
    <br>
    <button>Search</button>

    <h2>Check a flight status: </h2>
    <h3>Enter flight information</h3>
    <input placeholder="Airline, flight #, arrival/departure" size="25">
    <br>
    <br>
    <button>Search</button>

</body>
</html>
