<!DOCTYPE html>
<html>
  <head> </head>

  <!-- <body>
Default code given by Ratan 	
{% if not message %}
	<a href="/login">Login</a>
	<a href="/register">Register</a>
	<p1>hello hello</p1>
{% endif %}

{% if message %}
	<a href="/logout">Logout</a>
	<a href="/remove_account">Remove Account</a>
	<p class="message">You are logged in {{message}}. You have {{num}} follower(s)</p> </br>
	<a href="/tweets">View your tweets</a> </br>
	<a href="/find_people">Find people to follow</a> </br>
	<a href="/unfollow">Unfollow someone</a> </br>
	<a href="/view_followed">View people you have followed</a> </br>
	</br>

        <h4>15 most recent tweets from you and your followers </h4> </br>

	{% for line in tweets%}
	        <p>{{line}}</p>
	        <hr>
	{% endfor %}
	{% endif %}
</body> -->

  <body>
    <h1>Welcome to the homepage</h1>

    <!-- <h2>Log In</h2>
    <label for="username">Username</label>
    <input type="text" id="username"> 
    <label for="password">Password</label>
    <input type="password" id="password">
    <button>Log In</button> -->

    <!-- form redirects to /loginAuth and sends data to server in HTTP body (POST) -->
    <form action="/loginAuth" method="POST">
      <h2>Log In</h2>
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="username" required />
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="password" required />
      <button>Log In</button>
      {% if error %}
      <p class="error"><strong>Error:</strong> {{error}}</p>
      {% endif %}
    </form>

    <h5>
      No account? Customer registration
      <a href="/customerViews/customerRegister">here</a>
      Admin registration
      <a href="/adminViews/adminRegister">here </a>
    </h5>

    <br />
    <br />

    <form action="/searchFlight" method="POST">
      <h2>Search for a flight:</h2>
      <h3>Starting:</h3>
      <label for="departCity">City</label>
      <input type="text" name="departCity" />
      <label for="departAiport">Aiport</label>
      <input type="text" name="departAiport" />
      <h3>Ending:</h3>
      <label for="arriveCity">City</label>
      <input type="text" name="arriveCity" />
      <label for="arriveAirport">Aiport</label>
      <input type="text" name="arriveAirport" />
      <h3>Departure Date & Time</h3>
      <label for="departDT">Date & Time</label>
      <input type="datetime-local" name="departDT" />
      <h3>Return Date & Time</h3>
      <label for="ReturnDT">Date & Time</label>
      <input type="datetime-local" value = '' name="ReturnDT" />
      <br />
      <br />
      <button>Search</button>
    </form>

    <form action="/searchFlightStatus" method= "POST">
        <h2>Check a flight status:</h2>
        <h3>Enter flight information</h3>
        <label for= "airline">Airline</label>
        <input type = "text" placeholder= "Airline name" name= "airline" size = "25" required/>
        <label for= "flight">Flight</label>
        <input type = "number" placeholder = "Flight #" name= "flight" size = "25" required/>

        <label for= "depArr">Departure/Arrival</label>
        <input type = "date" name= "depArr" required/>
        <br />
        <br />
        <button>Search</button>
    </form>
  </body>
</html>
