<html>
    <head></head>
    <body>
    
    <h1>{{time}}</h1>
    <h1>Cancel A Flight</h1>
    <table>
        <th>Ticket ID</th>
        <th>Plane ID</th>
        <th>Airline</th>
        <th>Flight Number</th>
        <th>Price</th>
        <th>Status</th>
        <th>Depart</th>
        <th>Arrive</th>
        <th>From</th>
        <th>To</th>

    {% for line in data%}
		<tr>
			<td>{{line['ticket_id']}}</td>
			<td>{{line['customer_email']}}</td>
			<td>{{line['airline_name']}}</td>
			<td>{{line['flight_num']}}</td>
			<td>{{line['card_type']}}</td>
			<td>{{line['card_name']}}</td>
			<td>{{line['card_num']}}</td>
			<td>{{line['exp_date']}}</td>
			<td>{{line['sold_price']}}</td>
			<td>{{line['purchase_date_time']}}</td>
			
		</tr>
	{% endfor %}
    </table>


    <br>
    <br>
    <br>
        <a href="/customerViews/success">GO BACK</a>
    </body>

    <style type="text/css">
		table, th, td{
			border: 1px solid black;
		}
	</style>
</html>