<html>
    <head></head>
    <body>
    
    {{time}}
    {{error}}
    {{ticketNo}}
    <h2>Purchase Results</h2>
    <!-- {{data[0]}}
    {{data[1]}}
    {{data[2]}} -->




    <table>
        <th>Flight Number</th>
        <th>Airline</th>
        <th>Departure Date & Time</th>
        <th>Departure Airport</th>
        <th>Arrival Airport</th>
        <th>Arrival Date & Time</th>
        <th>Status</th>
        <!-- <th>Arrive</th>
        <th>From</th>
        <th>To</th> -->

    {% for line in data%}
		<tr>
			<td>{{line['flight_num']}}</td>
			<td>{{line['airline_name']}}</td>
			<td>{{line['depart_date_time']}}</td>
			<td>{{line['departure_airport']}}</td>
			<td>{{line['arrival_airport']}}</td>
			<td>{{line['arrive_date_time']}}</td>
			<td>{{line['stat']}}</td>
			<!-- <td>{{line['exp_date']}}</td> -->
			<!-- <td>{{line['sold_price']}}</td> -->
			<!-- <td>{{line['purchase_date_time']}}</td> -->
			
		</tr>
	{% endfor %}
    </table>

    <br>
    <br>
    <br>
    <form action="/cancelFlight" method="POST" >
        <p>Which airline and flight number would you like to cancel?</p>
        <input type = "input" name="airline_name" placeholder="Airline Name" required />
        <!-- <label for="flight_num">Which flight would you like to cancel?</label> -->
        <input type = "input" name="flight_num" placeholder="Flight Number" required />
        <button>Submit</button>
    </form>
    <br>
    <br>
    <br>
        <a href="/customerViews/success">GO BACK</a>
    </body>

    <style type="text/css">
		table, th, td{
			border: 1px solid black;
		}
	</style>
</html>