<html>
<head>
</head>
<body>

    <!-- <form action="/post" method="POST"> -->
    <h1>Welcome {{username}} (Customer Page)</h1>
    <h5>Log Out</h5>
    <!-- </form> -->

    <h2>View your current flights: </h2>
    <label for="viewOption">View by: </label>
    <select id="viewOption">
        <option>Future flights</option>
        <option>All flights</option>
    </select>
    <br>
    <br>
    <button>Search</button>


    <h2>Search for a flight: </h2>
    <h3>Starting: </h3>
    <label for="searchSourceCity">City</label>
    <input type="text" id="searchSourceCity">
    <label for="searchSourceAirport">Airport</label>
    <input type="text" id="searchSourceAirport">

    <h3>Ending: </h3>
    <label for="searchDestCity">City</label>
    <input type="text" id="searchDestCity">
    <label for="searchDestAirport">Airport</label>
    <input type="text" id="searchDestAirport">
    <br>
    <br>
    <button>Search</button>

    <h2>Check a flight status: </h2>
    <h3>Enter flight information</h3>
    <input placeholder="Airline, flight #, arrival/departure" size="25">
    <br>
    <br>
    <button>Search</button><br><br><br><br>

    <a href="./purchaseScreen">Purchase tickets for a new flight</a><br>
    <a href="./cancelTripScreen">Cancel an existing trip</a><br>
    <a href="./rateCommentScreen">Rate and comment your previous flights!</a><br>

</body>


</html>
